*{padding: 0;margin: 0;box-sizing: border-box;}

.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, skyblue , deeppink);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
p
{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    margin-top: 10px;

}
.circle
{
    width: 150px;
    height: 150px;
    border: 10px solid rgba(255, 255, 255, 0.343);
    border-top: 10px solid white;
    border-radius: 50%;
    animation:loader 2s linear infinite;
}
@keyframes loader {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.code
{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    display: none;
}