*{margin: 0;padding: 0;box-sizing: border-box;}
body
{
    background-image: linear-gradient(to right, pink, blue);
}
header, form
{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1
{
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
form input, form button
{
    border: none;
    padding: 10px;
    outline: none;
    background-color: white;
    font-size: 24px;
}
form button
{
 color: purple;
}
form button:hover
{
 background-color: purple;
 color: white;
}


.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list
{
    list-style: none;
    min-width: 25%;
}
.todo
{
    background-color: white;
    margin: 10px;
    font-size: 24px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmpltBtn
{
    background-color: teal;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;

}
.delBtn
{
    background-color: deeppink;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
}
.todo li
{
    flex: 1;
}

.fa-check,.fa-trash
{
    pointer-events: none;
}
.todo-done
{
    text-decoration: line-through;
    opacity: 0.5;
}
