*{
    /* to remove default extra space from web page */
    margin: 0;padding: 0;box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
#container
{
    /* border: 2px solid red; */
}
header
{
    height: 100px;
    background: grey;
}
footer
{
    height: 100px;
    background: rgb(16, 40, 226);
}
#banner
{
    margin: 10px 0 0 0;
    height: 100vh;
    /* background-color: cornflowerblue; */
    background-image:url("https://img.freepik.com/free-photo/red-black-brush-stroke-banner-background-perfect-canva_1361-3597.jpg?w=826&t=st=1678549568~exp=1678550168~hmac=3359e875bde51cfb48ffaec512098fa0d0fddbcb45ef8a3f23ada37c0e64bfe2");
    background-repeat: no-repeat;
    background-size: cover;
}

#section-1
{
    height: 350px;
    text-align: center;
    padding-top: 75px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section-3
{
    height: 350px;
    text-align: center;
    padding-top: 75px;
    clear: both;
    
}
/* #section-2
{
    display: inline-block;

} */
.circle
{
    height: 200px;
    width: 200px;
    background-color: darkgoldenrod;
    /* display: inline-block; */
    border-radius: 50%;
    /* margin: 0px 25px; */
}
.card
{
    height: 270px;
    width: 200px;
    background-color: rgb(255, 0, 119);
    display: inline-block;
    /* border-radius: 50%; */
    margin: 0px 25px;
}
#left
{
    width: 50%;
    height: 500px;
    background-color: cadetblue;
    float: left;
}
#right
{
    width: 45%;
    height: 500px;
    background-color: orange;
    float: right;
    
}
.article
{
    width: 100%;
    height: 150px;
    /* border: 1px solid; */
    margin-bottom: 15px;
    background-color: red;
}
h1
{
    color: white;
    font-family: arial;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;

}
.white-h1
{
    color: black;
    text-transform: uppercase;
    padding-top: 20px;
}

.circle img
{
    width: 100%;
    height: 100%;
}
#circle2
{
    background-image: url('../Images/—Pngtree—user\ vector\ avatar_4830521.png');
    background-position: center;
    background-size: cover;
}

.fa-brands
{
    position: fixed;
    right: 0;
    top: 350px;
    font-size: 40px;
    background-color: blue;
    padding: 20px;
    color: white;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}